# Redis
REDIS_HOST=erp_redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password
REDIS_URL=redis://:redis_password@erp_redis:6379

# Minio
AWS_S3_BUCKET_NAME="uploads"
AWS_ACCESS_KEY_ID="keyid"
AWS_SECRET_ACCESS_KEY="secretkey"
AWS_MINIO_ENDPOINT=http://erp-minio:9000
AWS_MINIO_PUBLIC_URL=http://localhost:9000

# JWT
JWT_SECRET=jwt_secret
JWT_REFRESH_SECRET=Jwt_refresh_secret
POS_JWT_SECRET=37d61f333a362bd4ed6544e8b54521ccc8457d3d8b10981ed4146e027a9694db

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=testing
POSTGRES_DB=erp
POSTGRES_HOST=erp_db
POSTGRES_PORT=5432
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# ElasticSearch
ELASTICSEARCH_NODE=https://es-search.amanbay.info
ELASTICSEARCH_APIKEY=UWJDR0g1WUJnd3h0SVJDZVpDVWw6YkZKczRtMDZRLVNULW91Y1pDTmhwZw==

#SEED
ADMIN_PHONE_NUMBER=+77777777777
ADMIN_PASSWORD=admin123

#RKEEPER
RK7_DB_USER=sa
RK7_DB_PASSWORD=Str0ng@Passw0rd
RK7_DB_SERVER=192.168.8.4
RK7_DB_PORT=1433
RK7_DB_NAME=RK7
RK7_DB_ENCRYPT=false
RK7_DB_TRUST_CERT=true
