# compiled output
/dist
/node_modules
/build

# Local-only seeds
./src/prisma/seeds/customer.seed.ts
./src/prisma/seeds/product.seed.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/test-json
/coverage
/.nyc_output
/test/coverage
/test-report.html
/test/convert-jest-report.js
/sample-products.xlsx
/generate-sample-products.ts
/generateSampleProductPdf.js
/sample-products.pdf
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
